<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body ng-app="advice">
    <div class="container">
      <h1>The Best Advice I Ever Got</h1>
      <div class="row" ng-controller="scrollController">
        <div class="col-sm-8 jumbotron" ng-repeat="(name, text) in advice" ng-show="name === shown">
          <div ng-bind-html="text"></div> 
          <h3>--{{name | titlecase}} <span class="glyphicon glyphicon-star-empty"></span></h3>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <ul class="list-group">
            <li class="list-group-item" ng-class="{active: shown==name}" ng-repeat="name in wisePeople" ng-click="goTo(name)">{{name | titlecase}}</li>
          </ul>
        </div>
    </div>

    <script src="dist/bower.min.js"></script>
    <script>
      var advice = angular.module('advice', []);

      advice.controller('scrollController', ['$scope', '$http', '$sce', function($scope, $http, $sce) {
        $scope.advice = {};
        $scope.wisePeople = [
          'kate',
          'other'
        ];
        $scope.shown = $scope.wisePeople[0];

        $scope.goTo = function goTo(name) {
          $scope.shown = name;
        };

        angular.forEach($scope.wisePeople, function(v) {
          $http.get('wisdom/'+v+'.html')
            .success(function(data) {
              $scope.advice[v] = $sce.trustAsHtml(data);
            })
            .error(function(data) {
              $scope.advice[v] = 'Oops! something went wrong!';
            });
        });
      }]);

      advice.filter('titlecase', function() {
          return function(s) {
              s = ( s === undefined || s === null ) ? '' : s;
              return s.toString().toLowerCase().replace( /\b([a-z])/g, function(ch) {
                  return ch.toUpperCase();
              });
          };
      });
    </script>
  </body>
</html>