<p>Don't be a perfectionist. No one ever told me that, but after years of suffering from paralysis because nothing was perfect enough, I figured it out.</p>

<p>The mediocre project that is done well enough is better than the perfect project that is never done.</p>